@{
    ViewBag.Title = "ThankYouPage";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}



<div id="heading-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>Thanks for being with us..</h1>
            </div>
        </div>
    </div>
</div>


Enjoy Yous Food.
Be Connected :-)